
@model List<CRUD.Models.AddStudentViewModel>

<h1>Student List</h1>

<table class="table">
    <thead class="table-bordered">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.Name</td>
                <td>@student.Email</td>
                <td>@student.Phone</td>
                <td>
                    <a class="btn btn-primary" asp-controller="Student" asp-action="Edit" asp-route-id="@student.Id"> Edit  </a>
                </td>
                <td>
                    <a class="btn btn-primary" asp-controller="Student" asp-action="Delete" asp-route-id="@student.Id"> Delete  </a>
                </td>
            </tr>
        }

        
        </tbody>
</table>